/*********** ADD PUBLICATION **********/

/*** Card ***/

.card {
    border: none;
}

.card-body {
    margin-top: 4rem;
}

.card-text {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

/*** Buttons ***/

.icon {
    font-size: 0.8rem;
}

.btn-add {
    font-size: 0.8rem;
}

.btn-search {
    font-size: 1rem;
}

.btn-coauthor, .btn-photos, .btn-save, .btn-invite, .btn-search {
    font-size: 1.2rem;
}

.fa-cog {
    font-size: 30px;
}

/*** Modal ***/

.modal-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.modal-text {
    font-size: 1.2rem;
}

.name {
    font-size: 1.3rem;
}

.profession {
    font-size: 1.1rem;
}

.img-fluid {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.add-individual {
    color: var(--ocean-mediterrean);
    font-weight: bold;
}


/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* card publication */

    .card-title {
        font-size: 1.5rem;
    }
    
    .card-subtitle {
        font-size: 1.2rem;
    }
    
    .card-subtitle-date {
        font-size: 1rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .btn-coauthor, .btn-photos, .btn-save, .btn-invite, .btn-search {
        font-size: 1rem;
        margin-top: 5px;
    }

    .btn-add {
        margin-bottom: 5px;
    }

    .name {
        font-size: 1.2rem;
    }

    .profession {
        font-size: 1rem;
    }

    .fa-cog {
        font-size: 20px;
    }

    .dropdown-menu {
        font-size: 0.9rem;
    }

    .navbar-collapse {
        font-size: 1rem;
    }

    .modal-title {
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .modal-text {
        font-size: 1rem;
    }

    .form-group {
        font-size: 0.9rem;
    }
}


