/* Fonts K2D - main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

/***** CONTACT.CSS *****/

body {
  font-family: 'Varela Round', sans-serif;
}

/*** Card ***/

.card-header {
    background-color: #084E75;
    color: #fff;
}

.form-control {
  background-color: var(--faded-snow);
  border: 1px solid var(--light-grey);
}

