/* Fonts K2D - main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

/***** CONTACT.CSS *****/

body {
  font-family: 'Varela Round', sans-serif;
}

/*** Card ***/

.card-header {
    background-color: #084E75;
    color: #fff;
}

.form-group {
  width: 50%;
  max-width: 100%;
}

.form-control {
  background-color: var(--faded-snow);
  border: 1px solid var(--light-grey);
}

.form-control:focus {
  background-color: var(--cloud);
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

  /* card */

  .card-header {
    font-size: 1.5rem;
  }

  .text-muted {
    font-size: 1rem;
  }

  .form-group {
    width: 70%;
    max-width: 100%;
  }

}