/* Fonts K2D - main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

/***** EVENTSINFO.CSS *****/

body {
  background-color: var(--faded-snow);
}

/*** Card ***/

.card { 
    background-color: var(--faded-snow);
    border: none;
    width: 70%;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.5rem;
}

/*** Image, emblems ***/

.img-fluid {
   height: 60px;
   width: 60px; 
   border-radius: 50%; 
}

.card-text-title {
    color: var(--black-bear);
}


/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* intro card */
}
