/* Fonts K2D - main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

/***** EVENTSINFO.CSS *****/

body {
  font-family: 'K2D', sans-serif; 
  background-color: var(--snow-blast);
}

/*** Card ***/

.card { 
    border: none;
    width: 70%;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.5rem;
}

/*** Image, emblems ***/

.img-fluid {
   height: 100px;
   width: 100px; 
   border-radius: 50%; 
}

.card-text-title {
    color: var(--black-bear);
}

