/* Fonts K2D - main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');


/***** EVENTS.CSS *****/

body {
    color: #212121;
}

/*** Title ***/

.title {
 color: var(--black-bear);
 font-size: 2rem;
}

/*** Cards ***/

.card {
    max-width: 100%;
    width: 70%;
    border: none;
}

.card-title {
    font-weight: bold;
    color: #212121;
}

.card-text {
    font-size: 1.4rem;
    color: #212121;
}

.card-img-top {
    width: 700px;
    height: 250px;
    max-width: 100%;
}

/*** Buttons ***/

.btn-details {
    font-size: 1.2rem;
}

.btn-block, .btn-attend, .btn-interested, .btn-noattend, .btn-list {
    font-size: 1.2rem;
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* intro card */
}



