/* Fonts K2D - main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

/***** STYLES.CSS *****/

body {
    font-size: calc(0.8 + (1.6rem - 0.8) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Varela Round', sans-serif;
}

/*** Jumbotron ***/

.jumbotron {
    border: none;
    background-color: var(--faded-snow);
}

.display-3 {
    font-size: 3rem;
}

.display-4 {
    font-size: 2.5rem;
}

.lead {
    margin-bottom: 2.5rem; 
}

.logo {
    font-family: 'Fredoka One', cursive;
    color: var(--aqua-deep-metalic);
}

.text-small {
    font-size: 1.2rem;
}

/*** About us ***/

.card {
    max-width: 70%;
    text-align: left;
    border: none;
    background-color: var(--faded-snow);
}

.card-header {
    background-color: #084E75;
    font-size: 2rem;
    color: var(--faded-snow);
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.5rem;
}

/*** Modal ***/

.modal-title {
    font-weight: bold;
}

.form-group {
    font-size: 1rem;
}

::placeholder {
    font-size: 1rem;
  }

/*** Emblems ***/

.img-fluid {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* display */

    .display-3 {
        font-size: 2rem;
    }

    .display-4 {
        font-size: 1.5rem;
    }
    
    .lead {
        margin-bottom: 1rem; 
    }
    
    .text-small {
        font-size: 1rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }
}




