/* Fonts K2D - main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

/***** HUBINFO.CSS *****/

/*** Card ***/

.card {
    background-color: var(--faded-snow);
    border: none;
    width: 70%;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.4rem;
}

.card-text-title {
    font-weight: bold;
    font-size: 2rem;
}

/*** Images ***/

.img-fluid {
    width: 100px;
    height: 100px;
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* intro card */
}







