@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

.custom-control-label {
    font-family: 'K2D', sans-serif;
    font-size: 1.2rem;
}

.btn {
    font-size: 1.2rem;
}

h2, .form-control {
    font-family: 'K2D', sans-serif;   
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
}
