.form-group {
     max-width: 40%;
     font-size: 1.2rem;
}

.rounded {
    font-size: 1.2rem;
}

.logo {
    font-size: 7rem;
    font-weight: bold;
    color: var(--aqua-deep-metalic);
    font-family: 'Fredoka One', cursive;
}

