@import url('https://fonts.googleapis.com/css?family=Coiny|Montserrat|Oxygen|Poppins|Varela+Round');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*
 font-family: 'Fredoka One', cursive;
 font-family: 'Varela Round', sans-serif;
 font-family: 'K2D', sans-serif;
*/

/* COLORS */

:root {
    --light-grey: #bbbbbb;
    --daily-grey: #d1cece;
    --deep-grey: #808080;
    --blue-pearl: #BBDEFB;
    --aqua-deep-metalic: #084E75;
    --ocean-mediterrean: #2ebf91;
    --deep-heaven: #0c0d74;
    --cloud: #ECE9E6;
    --faded-snow: #e5e7e7;
    --polar-bear: #fcfbf9;
    --snow-blast: #ffffff;
    --black-bear: #050505;
    --green-fusion:#0ec20e;
}

body {
    font-size: calc(0.8 + (1.6rem - 0.8) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Varela Round', sans-serif;
    background-color: var(--faded-snow);
}

/*** Navbar ***/

.navbar { 
    background-color: var(--aqua-deep-metalic);
    position: static;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
}

.fa-home, .fa-calendar-alt, .fa-dna, .fa-briefcase, .fa-lightbulb, .fa-bell, .fa-envelope, .fa-user-edit, .fa-newspaper, .fa-user {
    font-size: 1.8rem;
}

/*** Footer ***/

.page-footer {
    background-color: var(--aqua-deep-metalic);
}

.font-weight-bold {
    color: var(--faded-snow);
}

.info {
    color:var(--faded-snow);
    font-family: 'Varela Round', sans-serif;
}

.footer-copyright {
    background-color: var(--blue-pearl);
    color: var(--black-bear);
}

a {
    color: var(--blue-pearl); 
}
  
a:hover {
    color: #09c4c4;
    text-decoration: none;
}
  
/*** Modal ***/

.card, .modal-body, .modal-title, .modal-header, .modal-footer {
    background-color: var(--polar-bear);
}

/*** Modal ***/

.modal-title {
    font-weight: bold;
    color: var(--deep-grey);
    font-size: 1.3rem;
  }
  
.form-group {
    font-size: 1.1rem;
}

.form-control {
    font-size: 1rem;
}

.form-control {
    border: 0.5px solid var(--light-grey);
    background-color: var(--polar-bear);
}

.form-control:focus {
    background-color: var(--cloud);
}

/*** Social Media Buttons ***/

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
    color: var(--faded-snow);
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-instagram:hover {
    color: var(--ocean-mediterrean);
}

/*** Buttons from all the platfrom ***/ 

.btn {
    background-color: var(--aqua-deep-metalic);
    color: var(--faded-snow);
  }

.btn:hover {
    color: var(--ocean-mediterrean);    
}  

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-jumbotron, .btn-join, .btn-login, .btn-submit, .btn-save {
    font-size: 1.3rem;
}

/* checkboxes */
.custom-control-label:before{
    background-color: var(--light-grey);
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* buttons */

    .btn-join, .btn-jumbotron, .btn-login, .btn-submit, .btn-save {
        font-size: 1rem;
    }

    /* social media icons */
    
    .fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
        font-size: 1.5rem;
    }
}