@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

.form-group {
    max-width: 70%;
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-size: 1.2rem;
}

.custom-control, h5, h4, h6 {
    font-family: 'K2D', sans-serif;
}

.custom-control {
    font-size: 20px;
}

.card {
   border:transparent;
}

.card-title {
 font-size: 2rem;
 font-weight: bold;
}

.agree {
    font-size: 1.2rem;
    font-family: 'K2D', sans-serif;
    color: #212121;
}

.img-fluid {
    width: 35px;
    height: 35px;
}