@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

body {
  background-color: var(--polar-bear);
}

.card {
  background-color: var(--polar-bear);
  border: none;
}

.chatbox-title {
  color: var(--polar-bear);
}

.card-header {
    background-color: var(--aqua-deep-metalic);
    width: 100%;
}

.btn-search {
  background: var(--aqua-deep-metalic);
  color: var(--polar-bear);
}

.chat_date, .time_date {
  font-size: 0.8rem;
  color: var(--dirty-grey);
}

.chat-col {
  border-left: 2px solid var(--faded-snow);
}

.media-user-box {
  border-top: 1px solid var(--faded-snow);
}

.media-msg-box {
  border: none;
  width: 80%;
}

.profile-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.my-msg {
  background-color: var(--aqua-deep-metalic);
  color: var(--polar-bear);
  padding: 10px;
  border-radius: 10px;
}

.pro-msg {
  background-color: var(--blue-pearl);
  padding: 10px;
  border-radius: 10px;
}

.my-msg-text {
  color: var(--polar-bear);
}

.pro-msg-text {
  color: var(--black-bear);
}

.write_msg {
  margin-right: -15px;
  width: 100%;
}