@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

.media {
  border-top: 0.5px solid rgb(214, 200, 200);
}

.time_date {
  float: right;
}

.chat_date {
  font-size: 0.8rem;
  margin-top: 4px;
}

.msg_wrapper_inc {
  border-radius: 1.5%;
  background-color: #BBDEFB; 
  width: 70%;
}

.msg_wrapper_out {
  border-radius: 1.5%;
  background-color: rgb(232, 243, 250);
  width: 70%;
  margin-left: 25%;
}

.btn-search {
    background: rgb(12, 235, 12);
}

.card-title {
    font-family: 'K2D', sans-serif;
    color: #000;
    font-size: 25px;
    margin-top: 13px;
}



.mt-0, p, h2 {
    font-family: 'K2D', sans-serif;
    color: #000;  
}

h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

.info, .card-title {
    color: #fff;
    font-family: 'K2D', sans-serif;
}

.card-header {
    background-color: #084E75;
}

.font-weight-bold {
 font-size: 20px;
 font-family: 'K2D', sans-serif;
 color: #fff;
}

.chat-col {
  border-left: 2px solid var(--faded-snow);
}

.profile-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.my-msg, .pro-msg {
  background-color: var(--aqua-deep-metalic);
  color: var(--polar-bear);
  padding: 10px;
  border-radius: 10px;
}

.pro-msg-text {
  color: var(--polar-bear);
}