@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');

.nav-link:hover {
    color: #09c4c4;
}

.nav-item:hover {
    color: #09c4c4;
}

.media {
    border-top: 0.5px solid grey;
}


