@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

.card-title {
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-weight: bold;
}

.card-img-top {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.img-fluid-clover {
    width: 30px;
    height: 30px;
}

.img-fluid {
    width: 30px;
    height: 30px;
}

.img-fluid-online {
    width: 2px;
    height: 2px;
}

.btn-invite {
    font-size: 10px;
    font-weight: bold;
}