
.card-img-top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.btn-comeback {
    background-color:#BBDEFB;
    font-size: 1.2rem;
    color: #084E75;
}

.badge {
    background-color: #084E75;
    color: #fff;
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* intro card */
}