/* Fonts K2D - main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|K2D|Questrial|Raleway');

/***** STYLES.CSS *****/

body {
    font-family: 'Varela Round', sans-serif;
}

/*** Jumbotron ***/

.jumbotron {
    border: none;
    background-color: var(--faded-snow);
}

.lead {
    margin-bottom: 2.5rem; 
    font-size: 1.5rem;
}

.logo {
    font-size: 8rem;
    font-family: 'Fredoka One', cursive;
    color: var(--aqua-deep-metalic);
}

.text-small {
    font-size: 1.2rem;
}

/*** About us ***/

.card {
    max-width: 70%;
    text-align: left;
    border: none;
    background-color: var(--faded-snow);
}

.card-header {
    background-color: #084E75;
    font-size: 2rem;
    color: var(--faded-snow);
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.5rem;
}

/*** Modal ***/

.modal-title {
    font-weight: bold;
}

.form-group {
    font-size: 1rem;
}

::placeholder {
    font-size: 1rem;
  }

/*** Emblems ***/

.img-fluid {
    width: 30px;
    height: 30px;
}

/*** Buttons ***/

.btn-jumbotron, .btn-join, .btn-login {
    font-size: 1.3rem;
}




